@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.buttonStyle{
    @apply bg-buttonblue hover:bg-buttonblue/60 rounded-md transition-all duration-500
}

.titleText{
    @apply text-xl text-gray-700 font-medium
}


/* Custom styles for FullCalendar */
.fc-daygrid-day-frame {
    position: relative;
  }
  
  .fc-daygrid-day-number {
    text-align: left;
    padding: 4px;
  }
  
  .fc-event {
    border-radius: 4px;
    padding: 2px 4px;
  }